* {
    margin-block-start: 0;
    margin-block-end: 0;
    margin: 0;
    padding: 0;
}

html,
body {
    background-color: silver;
    background-image: radial-gradient(circle at 100% 150%, silver 24%, white 24%, white 28%, silver 28%, silver 36%, white 36%, white 40%, transparent 40%, transparent), radial-gradient(circle at 0 150%, silver 24%, white 24%, white 28%, silver 28%, silver 36%, white 36%, white 40%, transparent 40%, transparent), radial-gradient(circle at 50% 100%, white 10%, silver 10%, silver 23%, white 23%, white 30%, silver 30%, silver 43%, white 43%, white 50%, silver 50%, silver 63%, white 63%, white 71%, transparent 71%, transparent), radial-gradient(circle at 100% 50%, white 5%, silver 5%, silver 15%, white 15%, white 20%, silver 20%, silver 29%, white 29%, white 34%, silver 34%, silver 44%, white 44%, white 49%, transparent 49%, transparent), radial-gradient(circle at 0 50%, white 5%, silver 5%, silver 15%, white 15%, white 20%, silver 20%, silver 29%, white 29%, white 34%, silver 34%, silver 44%, white 44%, white 49%, transparent 49%, transparent);
    background-size: 100px 50px;
    font-family: Verdana, sans-serif;
    font-size: 16px;
}


/* HEADER */

header {
    color: #FFF;
    height: 80px;
    line-height: 80px;
    width: 100%;
    background-color: #222222;
    text-align: center;
}

img {
    max-width: 120px;
    max-height: 120px;
}


/* CONTAINER */

.container {
    clear: both;
    width: -webkit-fill-available;
    border: solid 0.5em black;
    background-color: #9b9999;
}

.btn {
    padding: 0;
    cursor: pointer;
    border: 5px solid #ccc;
}

.btn:hover {
    border-color: rgb(69, 1, 100);
}

.btn img {
    display: block;
    width: 160px;
    height: 120px;
    border: 0;
}

.btn-replay {
    padding: 5px;
    cursor: pointer;
    margin-left: 1em;
}

.playerSelection {
    border-color: red;
}

.info {
    color: black;
    position: relative;
    margin: 1em;
}

.main {
    margin: 1em;
    height: fit-content;
}

.main>div {
    width: fit-content;
    display: inline-block;
}

.player,
.computer {
    width: fit-content;
    height: fit-content;
}

.computer {
    float: right;
}

.container-stat {
    clear: both;
    position: absolute;
    border: solid 0.5em black;
    background-color: #9b9999;
    bottom: 100px;
    margin: 1em;
    width: -webkit-fill-available;
}

.container-stat>span {
    padding-left: 1em;
}

.container-stat>span {
    display: flex;
    flex-direction: column;
    font-size: 0.8em;
}


/* FOOTER */

.footer {
    position: fixed;
    float: left;
    width: 100%;
    line-height: 60px;
    bottom: 0;
    color: #FFF;
    height: 100px;
    text-align: center;
    background-color: #222222;
}